@model IntelligentBusSystem.Models.Driver
@{
    ViewBag.Title = "DriverProfile";
}


<div class="resume">
    <header class="page-header">
        <h2 class="page-title"><span class="label label-info">@Model.DriverFirstName @Model.DriverLastName's profile</span></h2>
        <h3 class="page-title"><span class="label label-warning">Driver</span></h3>
    </header>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading resume-heading">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-xs-12 col-sm-4">
                                <figure>
                                    <img src="@Model.DriverThumbPhoto" alt="@Model.DriverID" class="img-thumbnail img-circle" style=" width:250px;height:250px">
                                    <small><cite title="Source Title">Latitude: @Model.DriverLat, Longitude: @Model.DriverLong <span class="glyicon glyphicon-map-marker"></span></cite></small>
                                </figure>
                            </div>

                            <div class="col-xs-12 col-sm-8">
                                <br />
                                <br />
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <label class="uMyLabel">User name: </label><label class="mylabel">@Model.DriverID</label>
                                    </li>
                                    <li class="list-group-item"><label class="uMyLabel">First name: </label><label class="mylabel">@Model.DriverFirstName</label></li>
                                    <li class="list-group-item">
                                        <label class="uMyLabel">Last name: </label><label class="mylabel">@Model.DriverLastName</label>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>